@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}


:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;  
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}




@font-face {
  font-family: "Pragmatica";
  src: local("Pragmatica-Light"), url("../../../fonts/Pragmatica-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Pragmatica";
  src: local("Pragmatica-Medium"), url("../../../fonts/Pragmatica-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Pragmatica";
  src: local("Pragmatica-Bold"), url("../../../fonts/Pragmatica-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Pragmatica Extended";
  src: local("PragmaticaExtended-Medium"), url("../../../fonts/PragmaticaExtended-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Pragmatica Extended";
  src: local("PragmaticaExtended-Light"), url("../../../fonts/PragmaticaExtended-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Tinos";
  src: local("Tinos"), url("../../../fonts/Tinos.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

body{
    font-family: "Pragmatica";
}
main {
  font-weight: 900;
  font-size: 450px;
  color: white;
  background-color: #4c049f;
  display: flex;
  align-items: center;
  height: 100%;
}
.table{
    margin: 0 auto;
}

.order{
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
}

.wrap{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(220, 220, 220);
}
.some-input,.form-button{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: inherit;
    letter-spacing: 0.8px;
    margin-top: 30px;
}
.some-input{
    box-shadow: 5px 5px 5px 2px rgba(34, 60, 80, 0.2) inset,
                5px 5px 5px 2px rgba(34, 60, 80, 0.2);
}
.form-button{
    background-color: rgb(136, 5, 197);
    color: white;
    cursor: pointer;
}