@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}


:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 45px;
  
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}




@font-face {
  font-family: "Pragmatica";
  src: local("Pragmatica-Light"), url("../../../fonts/Pragmatica-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Pragmatica";
  src: local("Pragmatica-Medium"), url("../../../fonts/Pragmatica-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Pragmatica";
  src: local("Pragmatica-Bold"), url("../../../fonts/Pragmatica-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Pragmatica Extended";
  src: local("PragmaticaExtended-Medium"), url("../../../fonts/PragmaticaExtended-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Pragmatica Extended";
  src: local("PragmaticaExtended-Light"), url("../../../fonts/PragmaticaExtended-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Tinos";
  src: local("Tinos"), url("../../../fonts/Tinos.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: "Pragmatica";
  font-weight: 300;
  font-size: 18px;
  color: #1d1d1d;
}
